@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

h1 {
  margin-bottom: 0;
  font-family: Raleway,sans-serif;
  font-weight: 700;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  font-size: 28px;
  text-align: center;
  line-height: 38px;
  font-family: Raleway,sans-serif;
  display: block;
  width: 100%;
}

#karte {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  width: 900px;
  height: 500px;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
}

#body {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  img {
    max-width: 45%;
  }
  * {
    max-width: 50%;
    margin: 0 10px;
  }
}

@media screen and (max-width: 992px) {
  #karte {
    height: initial;
    flex-direction: column;
    width: 80%;
    * {
      max-width: 100% !important;
      margin: 10px 0;
    }
  }

  #body {
    flex-direction: column;
  }
}
