<!DOCTYPE html>
<html lang="en" xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="newCard">
    <h1>Monopoly Event Cards</h1>
    <div class="form-group">
        <label for="newCardDescription">Add new card</label>
        <textarea class="form-control" id="newCardDescription" rows="3" style="resize: none;"></textarea>
        <button class="btn btn-primary my-2" data-toggle="modal" data-target="#saveModal" data-backdrop="static">
            Add Card
        </button>
    </div>
</div>
<div class="modal fade" id="saveModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Card</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Do you want to add the following card?</h5>
                <p id="addDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="addCard" data-dismiss="modal">Add card</button>
            </div>
        </div>
    </div>
</div>
<div id="cardList">
    <f:for each="{karten}" as="karte">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">CARD #{karte.id}</h5>
                <p class="card-text">{karte.description}</p>
                <button class="btn btn-danger bottom" data-toggle="modal" data-target="#deleteModal"
                        data-backdrop="static" data-id="{karte.id}">Delete
                </button>
            </div>
        </div>
    </f:for>
</div>
<div class="modal fade" id="deleteModal" tabindex="-2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Card</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Do you want to delete the following card?</h5>
                <p id="delDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="delCard" data-dismiss="modal">Delete card</button>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-primary" role="button" href=".." style="position: fixed; bottom: 20px; right: 20px;">Back</a>
<script>

    let id;

    $('#saveModal').on('show.bs.modal', function (event) {
        $(this).find('.modal-body #addDescription').text($('#newCardDescription').val());
    });

    $('#deleteModal').on('show.bs.modal', function (event) {
        id = event.relatedTarget.dataset.id;
        $(this).find('.modal-body #delDescription').text(event.relatedTarget.parentNode.children[1].innerText);
    });

    $('#addCard').on('click', e => {
        let descr = $('#newCardDescription').val();
        $.post("../api/createCard.php", {description: descr})
            .done(function (data) {
                $('#cardList').append('<div class="card"><div class="card-body"><h5 class="card-title">CARD #' + data + '</h5><p class="card-text">' + descr + '</p><button class="btn btn-danger bottom" data-toggle="modal" data-target="#deleteModal" data-backdrop="static" data-id="' + data + '">Delete</button></div></div>');
            })
            .fail(function () {
                alert("failed");
            });
        $('#newCardDescription').val('');
    });

    $('#delCard').on('click', e => {
        if (id === undefined)
            return;
        $.post("../api/deleteCard.php?id=" + id)
            .done(function (data) {
                document.getElementById('cardList').removeChild(document.getElementById("cardList").lastElementChild);
            })
            .fail(function () {
                alert("failed");
            });
    });

</script>
</body>
</html>
