body {
    padding: 10px;
}

#newCard {
    margin: auto;
    width: 60%;
}

#cardList {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 48%;
    margin: 1%;
}

.card-text{
    margin-bottom: 40px;
}

.bottom {
    position: absolute;
    bottom: 10px;
}

@media screen and (max-width: 992px) {
    #newCard {
        margin: auto;
        width: 80%;
    }

    #cardList {
        margin: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        margin: 1% 0;
    }
}

